/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 50px 15px;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #27697C;
    transition: all 0.3s ease-out;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #27697C;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.btnBlan{
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #27697C;
    padding: 10px 20px;
    font-size: 16px;
}

.btnBlan:hover{
    background: #27697C;
    color: #fff;
    border: 1px solid #fff;
}

.btnBleu{
    font-family: "Roboto", sans-serif;
    background: #27697C;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}

.btnBleu:hover{
    border: 1px solid #27697C;
    background: #fff;
    color: #27697C;
}

#burger{
    display: none;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 50px;
}

header nav a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Main */

/* Section 1 */

#imageBG{
    min-height: 700px;
    background-image: url("../img/imageBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: 0;
}

#text-container{
    width: 600px;
    margin: auto;
    text-align: center;
    background: #276a7cd4;
    color: #fff;
    padding-bottom: 30px;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 15px;
}

#text-container article p{
    margin-bottom: 40px;
    font-size: 18px;
}

/* Section 2 */

#office{
    height: 655px;
}

.section2 div:nth-child(1){
    align-items: center;
}

.section2 article p:nth-child(2){
    width: 70%;
    line-height: 32px;
    margin-left: 20px;
    margin-bottom: 20px;
}

hr{
    width: 43px;
    height: 2px;
    background: #27697C;
    margin: 15px 0;
}

.section2 article a{
    margin-left: 60px;
}

.section2 article h3{
    width: 80%;
}

/* Section 3 */

.section3 div{
    justify-content: space-around;
    text-align: center;
}

.section3 div article i{
    font-size: 63px;
    color: #27697C;
    margin-bottom: 20px;
}

.section3 div article p{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* Section 4 */

.section4{
    background: #27697C;
    padding: 50px 0;
}

.sectionImage{
    width: 50%;
}

.section4 div article img{
    height: 227px;
    object-fit: cover;
    margin-bottom: 20px;
}

.section4 .sectionImage img{
    height: 227px;
    object-fit: cover;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sectionTexte{
    padding-left: 80px;
    color: #fff;
}

.sectionTexte h2{
    color: #fff;
}

.sectionTexte p{
    width: 75%;
    line-height: 32px;
    margin-bottom: 20px;
}

/* Section 5 */

.section5 > article:nth-child(1){
    text-align: center;
    padding: 50px 0;
}

.section5 div{
    justify-content: space-between;
    margin-bottom: 100px;
}

.section5 div article p{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.section5 div:nth-last-child(1){
    text-align: center;
}

/* Section 6 */

.section6{
    background: #859399;
    color: #fff;
    padding: 80px 0 50px;
}

.section6 div{
    max-width: 680px;
    margin: auto;
}

.section6 div article{
    text-align: left;
}

.section6 div article h2{
    color: #fff;
}

.inputStyle{
    gap: 40px;
}

.inputStyle input{
    width: 310px;
    padding: 10px;
    justify-content: space-between;
}

.section6 input{
    margin-bottom: 20px;
}

#entreprise{
    width: 660px;
    padding: 10px;
}

.section6 textarea{
    width: 660px;
    height: 90px;
    margin-bottom: 20px;
}

#rgpd{
    margin-bottom: 0;
}

#envoyerBtn{
    margin-top: 30px;
    margin-bottom: 50px;
}


/* Footer */

footer{
    background: #27697C;
}

footer div{
    max-width: 1420px;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

footer div p{
    color: #fff;
}

footer div a{
    color: #fff;
}

footer div a:hover{
    color: #fff;
    opacity: 0.7;
}

/* Responsive Tablette */

@media screen and (max-width:1024px) {

    #burger{
        display: block;
    }

    header{
        justify-content: space-between;
    }

    header nav{
        display: none;
    }

    .section2 div{
        display: block;
    }

    .section2 article p:nth-child(2){
        width: 90%;
    }

    #office{
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .section4 div{
        display: block;
    }

    .sectionTexte{
        width: 100%;
    }

    .sectionImage{
        margin-bottom: 50px;
    }

    .section4 .container{
        padding: 15px 150px;
    }

    .section5 div article img{
        width: 280px;
    }
}