/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 50px 15px;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #27697C;
    transition: all 0.3s ease-out;
}

.btnBlan{
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #27697C;
    padding: 10px 20px;
    font-size: 16px;
}

.btnBlan:hover{
    background: #27697C;
    color: #fff;
}

.btnBleu{
    font-family: "Roboto", sans-serif;
    background: #27697C;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}

.btnBleu:hover{
    border: 1px solid #27697C;
    background: #fff;
    color: #27697C;
}

#burger{
    display: none;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 100px;
}

header nav a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Main */

/* Section 1 */

#imageBG{
    min-height: 700px;
    background-image: url("../img/imageBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: 0;
}

#text-container{
    width: 600px;
    margin: auto;
    text-align: center;
    background: #276a7cd4;
    color: #fff;
    padding-bottom: 30px;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 15px;
}

#text-container article p{
    margin-bottom: 40px;
    font-size: 18px;
}

/* Section 2 */

#office{
    height: 655px;
}

.section2 div:nth-child(1){
    align-items: center;
}

.section2 article h2{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    width: 80%;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section2 article p:nth-child(2){
    width: 70%;
    line-height: 32px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.section2 article p:nth-child(1){
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #27697C;
}

hr{
    width: 43px;
    height: 2px;
    background: #27697C;
    margin: 15px 0;
}

.section2 article a{
    margin-left: 60px;
}

/* Footer */

footer{
    background: #27697C;
}

footer div{
    max-width: 1420px;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

footer div p{
    color: #fff;
}

footer div a{
    color: #fff;
}

footer div a:hover{
    color: #fff;
    opacity: 0.7;
}